<ons-list>
    <ons-list-item>
        <div class="center">
            <span class="list-item__title">Name</span>
            <span class="list-item__subtitle">{petname}</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="center">
            <span class="list-item__title">Specie</span>
            <span class="list-item__subtitle">{specie}</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="center">
            <span class="list-item__title">Breed</span>
            <span class="list-item__subtitle">{breed}</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="center">
            <span class="list-item__title">Gender</span>
            <span class="list-item__subtitle">{gender}</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="center">
            <span class="list-item__title">Color</span>
            <span class="list-item__subtitle">{color}</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="center">
            <span class="list-item__title">Birthday</span>
            <span class="list-item__subtitle">{birthday}</span>
        </div>
    </ons-list-item>
</ons-list>