<div class="product-details">
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="product-image" style="
                background: url({image}) center center no-repeat;
                background-size: cover;
                 ">
            </div>
            <span class="product-name">{name}</span>
            <span class="product-price">Php {price}</span>
            <div class="product-description">
                {description}
            </div>
        </div>
    </div>
</div>
{action}