<p>
    <ons-list style="margin-bottom: 20px;">
        <ons-list-header>Date:</ons-list-header>
            <ons-list-item>{app_date}</ons-list-item>
        <ons-list-header>Time</ons-list-header>
            <ons-list-item>{app_time}</ons-list-item>
        <ons-list-header>Doctor</ons-list-header>
            <ons-list-item>{doctor_name}</ons-list-item>
        <ons-list-header>Pet</ons-list-header>
            <ons-list-item>{pet_name}</ons-list-item>
        <ons-list-header>Status</ons-list-header>
            <ons-list-item>{status_caption}</ons-list-item>
        <ons-list-header>Services</ons-list-header>
            {services_list}
    </ons-list>
</p>